In [1]:
import pandas as pd
import numpy as np

In [11]:
Actual_data = pd.Series([1,0,1,0,1,0,1,0,1],name="Actual")

In [20]:
pred_data = pd.Series([1,1,0,0,1,1,1,0,1],name="Predicted")

In [28]:
df_c = pd.crosstab(Actual_data,pred_data,rownames=["Actual_data"],colnames=["pred_data"],margins=True)
df_c

pred_data    0  1  All
Actual_data
0            2  2    4
1            1  4    5
All          3  6    9

In [35]:
df_no=df_c/df_c.sum(axis=1)
df_no

pred_data        0    1       All
Actual_data
0            0.250  0.2  0.222222
1            0.125  0.4  0.277778
All          0.375  0.6  0.500000

In [43]:
TP=0
TN=0
FP=0
FN=0
for i in range(len(pred_data)): 
    if Actual_data[i]==pred_data[i]==1:
            TP+=1
    if Actual_data[i] and pred_data[i]==0:
            TN+=1
    if pred_data[i]==1 and Actual_data[i]!=pred_data[i]:
            FP+=1
    if pred_data[i]==0 and Actual_data[i]!=pred_data[i]:
            FN+=1
print("True Positive:",TP)
print("True Negative:",TN)
print("False Positive:",FP)
print("False Negative:",FN)

True Positive: 4
True Negative: 1
False Positive: 2
False Negative: 1

In [52]:
A =(TP+TN)/(TP+FN+FP+TN)
A

0.625

In [53]:
recall=TP/(TP+FN)
recall

0.8

In [54]:
precision=TP/(TP+FP)
precision

0.6666666666666666

In [55]:
f1_score=(recall*precision*2)/(recall+precision)
f1_score

0.7272727272727272